*{
  color: white !important;
}
.ant-input{
  color: #000 !important;
}
.anchor:hover {

  color: #1b6bc7 !important;
}
.email .password{
  font-size: 1.5vh;
}



@media (max-width: 1200px) {
  .item.animated-photo{
    display: none;
  }
  .bd-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .authentication-form{
    height: 527px;
    background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
    float: right;
    opacity: 0.55;
    border-radius: 50px;
    margin-top: 10vh;
  }
  .item.authentication-form.p-2 {
    width: 30em;
  }
  .ant-form-item-row{
    margin-left: 1px;
    margin-right: 15px;
    margin-top: 10px;
  }
  .card-title{
   margin-top: 15px;
    margin-left: 5.5em !important; 
    color: white !important;
    font-size: 2em !important;

  }
  .logo-container{
    background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
    height: 130px;
    opacity: 0.34;
    width: auto;
  }
  .ant-input{
    height: 74px;
    width: 25em;
 
    border-radius: 30px;
  }
  .ant-form-item-row{
    margin-left: 3.7em;
    margin-right: 35px;
    margin-top: 20px;
    padding-top:20px;
  }
  .anchor{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em !important;
  }
  .btn.btn-primary{
    border-radius: 30px;
    height: 74px;
    opacity: .9;
    width: 25em;
    margin-left: 2em;
    margin-right: 35px;
  }
  .logo{
    margin-left: 5.5em;
    height: 180; 
  }
  }
          /* the end of mobile and tablet form*/

 @media (min-width: 1201px) and (max-width: 1480px) {
    .logo-container {
       background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
       height: 180px;
       opacity: 0.34;
       width: auto;
       }
      .bd-container {
          display: grid;
          grid-template-columns: 1fr auto;
          gap: 10px;
      }
      .animated-photo {
          background-image: url('../../assets/minCollaboration.png');
          background-repeat: no-repeat;
          width: 500px;
          margin-top: 5vh;
          margin-left: 5vh;
          height: 720px;
      }
        .authentication-form {
            height: 527px;
            background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
            float: right;
            opacity: 0.55;
            border-radius: 50px;
            margin-top: 5vh;
            margin-right: 18vh;
        }
        .item.authentication-form.p-2 {
            width: 500px;
        }
        .ant-input {
            height: 74px;
            width: 400px;
            background-color: white;
            border-radius: 30px;
        }
        .btn.btn-primary {
            border-radius: 30px;
            height: 74px;
            width: 400px;
            margin-left: 43px;
            margin-right: 35px;
        }
        .ant-form-item-row {
            margin-left: 43px;
            margin-right: 35px;
            margin-top: 20px;
            padding-top: 20px;
        }
        .card-title {
            font-size: 2em !important;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
        }
        .anchor {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3em !important;
            margin-top: -10px !important;
        }
        .logo {
            margin-left: 5.5em;
            height: 180;
        }
        }
        
        /* the end of small laptops*/

@media (min-width: 1481px){
  .logo-container{
    background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
    height: 160px;
    opacity: 0.34;
    width: auto;
  }
  .bd-container{
    display: grid;
    grid-template-columns: 1.5fr auto;
    gap: 20px;
  }
  .animated-photo{
   background-image: url('../../assets/collaboration.png');
   background-repeat: no-repeat;
   width: 700px;
   margin-top: 5vh;
   margin-left: 10vh;
   height: 720px;
  }
  .authentication-form{
    height: 650px;
    background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
    float: right;
    opacity: 0.55;
    border-radius: 50px;
    margin-top: 7vh;
    margin-right: 18vh;
  }
  .item.authentication-form.p-2 {
    width: 627px;
  }
  .basic-text {
    font-size: 2.5rem !important;
  }
  .btn.btn-primary{
    border-radius: 30px;
    height: 74px;
    opacity: .9;
    width: 32em !important;
    margin-left: 3.8em;
    margin-right: 8em;
    margin-top: 7em;
    
  }
 .ant-input{
    height: 74px;
    width: 31em !important;
    color: #000;  
    border-radius: 30px;
  }
  .ant-form-item-row{
    margin-left: 75px;
    margin-right: 35px;
    margin-top: 15px;
    padding-top: 30px;
  }
  .ant-form-item-label{
     font-size: 14px;
  }
  
  .card {
    box-shadow: 0 0 2px gray;
  }
  .card-title {
    font-size: 2.5rem !important;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  .email, .password{
    margin-left: 20px;
    display: flex;
    justify-content: left;

  }
  .anchor{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem !important;
  }
  .logo{
    margin-left: 5.5em;
    height: 180; 
  }
  /* antd overwrite */
  .anchor:hover {
    text-decoration: underline !important;
  }
}
  

