
.ant-input{
  color: #000 !important;
}
.anchor:hover {

  color: #1b6bc7 !important;
}
.email .password{
  font-size: 1.5vh;
}
.logo-container-register {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-register {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.logo-register:hover {
  transform: scale(1.2);
}



@media (max-width: 1200px) {
  .item.animated-photo{
    display: none;
  }
  .bd-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .authentication-form-register{
    height: fit-content;
    background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
    float: right;
    opacity: 0.55;
    border-radius: 50px;
    margin-top: 6vh;
  }
  .item.authentication-form-register.p-2 {
    width: 24em;
  }
  .card-title{
    margin-top: 15px;
    margin-left: 3.8em;
    color: white !important;
    font-size: 2em !important;
  }
  .logo-container-register{
    background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
    height: 120px;
    opacity: 0.34;
    width: auto;
  }
  .ant-input{
    height: 4.5em;
    width: 20em;
    border-radius: 30px;
  }
  .ant-form-item-row{
    margin-left: 3.7em !important;
    margin-right: 35px;
    margin-top: 5px;
    padding-top: 5px;
  }
  .anchor{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn.btn-primary{
    border-radius: 30px;
    height: 74px;
    opacity: .9;
    width: 21em;
    margin-left: 1em;
    margin-right: 20px;
  }
  .logo-register{
    margin-left: 5.5em;
    height: 180; 
  }
  }
          /* the end of mobile and tablet form*/

 @media (min-width: 1201px) and (max-width: 1480px) {
    .logo-container-register {
       background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
       height: 120px;
       opacity: 0.34;
       width: auto;
       }
      .bd-container {
          display: grid;
          grid-template-columns: 1fr auto;
          gap: 10px;
      }
      .animated-photo {
          background-image: url('../../assets/minCollaboration.png');
          background-repeat: no-repeat;
          width: 500px;
          margin-top: 5vh;
          margin-left: 5vh;
          height: 720px;
      }
        .authentication-form-register {
            height: fit-content;
            background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
            float: right;
            opacity: 0.55;
            border-radius: 50px;
            margin-top: 5vh;
            margin-right: 18vh;
        }
        .item.authentication-form-register.p-2 {
            width: 500px;
        }
        .ant-input {
          height: 5em;
          width: 340px;
          background-color: white;
          border-radius: 30px;
      }
        .btn.btn-primary {
            border-radius: 30px;
            height: 74px;
            width: 25em !important;
            margin-left: 43px;
            margin-right: 35px;
        }
        .ant-form-item-row {
            margin-left: 5em;
            margin-right: 35px;
            margin-top: 10px;
            padding-top: 5px !important;
        }
        .card-title {
            font-size: 2em !important;
            color: #ffffff !important;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 17px;
        }
        .anchor {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .logo-register {
            margin-left: 5.5em;
            height: 180;
        }
        }
        
        /* the end of small laptops*/

@media (min-width: 1480px){
  .logo-container-register{
    background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
    height: 120px;
    opacity: 0.34;
    width: auto;
  }
  .bd-container{
    display: grid;
    grid-template-columns: 1.5fr auto;
    gap: 20px;
  }
  .animated-photo{
   background-image: url('../../assets/collaboration.png');
   background-repeat: no-repeat;
   width: 700px;
   margin-top: 5vh;
   margin-left: 10vh;
   height: 720px;
  }
  .authentication-form-register{
    height: fit-content;
    background: linear-gradient(to right, #16FF6D, #18D2F7) !important;
    float: right;
    opacity: 0.55;
    border-radius: 50px;
    margin-top: 7vh;
    margin-right: 18vh;
  }
  .item.authentication-form-register.p-2 {
    width: 600px;
  }
  .basic-text {
    font-size: 2.5rem !important;
  }
  .btn.btn-primary{
    border-radius: 30px;
    height: 74px;
    opacity: .9;
    width: 30em;
    margin-left: 3.2em;
    margin-right: 15px;
    margin-top: 7em;
  }
  .ant-input{
    height: 5em;
    width: 29em;
    color: #000;  
    border-radius: 30px;
  }
  .ant-form-item-row{
    margin-left: 65px ;
    margin-right: 35px;
    margin-top: 5px;
    padding-top: 10px;
  }
  .ant-form-item-label{
     font-size: 14px;
  }
  
  .card {
    box-shadow: 0 0 2px gray;
  }
  .card-title {
    font-size: 2.5rem !important;
    font-weight: bold;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  .email, .password{
    margin-left: 20px;
    display: flex;
    justify-content: left;

  }
  .anchor{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem !important;
  }
  .logo-register{
    margin-left: 5.5em;
    height: 180; 
  }
  /* antd overwrite */
  .anchor:hover {
    text-decoration: underline !important;
  }
}